@import 'mixins';

//=============================
// MEDIDAS DE FONT
//=============================

@mixin size3XL {
	font-size: px(48);
	line-height: px(56);
}

@mixin size2XL {
	font-size: px(40);
	line-height: px(52);
}

@mixin sizeXL {
	font-size: px(32);
	line-height: px(40);
}

@mixin sizeL {
	font-size: px(24);
	line-height: px(32);
}

@mixin sizeM {
	font-size: px(20);
	line-height: px(28);
}

@mixin sizeS {
	font-size: px(19);
	line-height: px(30);
}

@mixin sizeXS {
	font-size: px(18);
	line-height: px(26);
}

@mixin size2XS {
	font-size: px(16);
	line-height: px(24);
}

@mixin size3XS {
	font-size: px(15);
	line-height: px(17);
}

@mixin size4XS {
	font-size: px(14);
	line-height: px(16);
}

@mixin size5XS {
	font-size: px(12);
	line-height: px(16);
}

@mixin size6XS {
	font-size: px(11);
	line-height: px(16);
}

//TABLA DE CONVERSIÓN

.--threexl {
	@include sizeL; //mobile
	@media (max-width: 767px) {
		//mobile home
		.mod-article:not(&.--bomba) & {
			@include sizeM;
		}
	}
	@media ($media-m) {
		//768
		@include size2XL;
	}
	@media ($media-lm) {
		//1100
		@include size3XL;
	}
}

.--twoxl {
	@include sizeXL; //mobile
	@media (max-width: 767px) {
		//mobile home
		.mod-article & {
			@include sizeM;
		}
	}
	@media ($media-m) {
		//768
		@include size2XL;
	}
}

.--xl {
	@include sizeXL; //mobile
	@media (max-width: 767px) {
		//mobile home
		.mod-article & {
			@include sizeM;
		}
	}
}

.--l {
	@include sizeM; //mobile
	@media ($media-m) {
		//768
		@include sizeL;
	}
}

.--m {
	@include sizeM; //all
}

.--s {
	@include sizeS; //all
}

.--xs {
	@include sizeM; //mobile
	@media ($media-m) {
		//768
		@include sizeXS;
	}
}

.--twoxs {
	@include size2XS; //all
}

.--threexs {
	@include size3XS; //all
}

.--fourxs {
	@include size4XS; //all
}

.--fivexs {
	@include size5XS; //all
}

.--sixxs {
	@include size6XS; //all
}

//=============================
// FONT WEIGHT
//=============================

.--font-thin {
	font-weight: 100;
}

.--font-light {
	font-weight: 300;
}

.--font-regular {
	font-weight: 400;
}

.--font-medium {
	font-weight: 500;
}

strong,
.--font-bold {
	font-weight: 700;
}

.--font-black {
	font-weight: 900;
}
.--font-cursive {
	font-style: oblique;
}
.--font-highlight {
	background: transparent;
	text-decoration: underline;
	text-decoration-color: $yellow-500;
	text-decoration-thickness: 2px;
	font-weight: 700;
}

//=============================
// COLORS MARK
//=============================
.--hl_yellow {
	background: transparent;
	text-decoration: underline;
	text-decoration-color: $yellow-500;
	text-decoration-thickness: 2px;
	font-weight: 700;
}
.--capital {
	min-height: px(60);
	&::first-letter {
		text-transform: uppercase;
		font-size: px(64);
		font-family: $font-sueca;
		font-weight: bold;
		margin: px(16) px(8) px(8) 0;
		float: left;
	}
}
//=============================
// DISPLAY NONE / HIDE
//=============================

.--none {
	display: none;
}

.--mobile-none {
	@media (max-width: 767px) {
		display: none;
	}
}

.--tablet-none {
	@media (max-width: 1023px) {
		display: none;
	}
}

.--hide {
	visibility: hidden;
	opacity: 0;
}

.--show {
	visibility: visible;
	opacity: 1;
}

//=============================
// FONTS
//=============================

.--arial {
	font-family: $font-arial;
}

.--georgia {
	font-family: $font-georgia;
}

.--roboto {
	font-family: $font-roboto;
}

.--sueca {
	font-family: $font-sueca;
}

//=============================
// HELPERS MARGINS
//=============================

.--mb-0 {
	margin-bottom: px(0) !important;
}
.--mb-8 {
	margin-bottom: px(8) !important;
}
.--mb-16 {
	margin-bottom: px(16) !important;
}
.--mb-24 {
	margin-bottom: px(24) !important;
}
.--mb-32 {
	margin-bottom: px(32) !important;
}
.--mb-40 {
	margin-bottom: px(48) !important;
}
.--mb-48 {
	margin-bottom: px(48) !important;
}

.--mr-0 {
	margin-right: px(0) !important;
}
.--mr-8 {
	margin-right: px(8) !important;
}
.--mr-16 {
	margin-right: px(16) !important;
}
.--mr-24 {
	margin-right: px(24) !important;
}
.--mr-32 {
	margin-right: px(32) !important;
}
.--mr-40 {
	margin-right: px(48) !important;
}
.--mr-48 {
	margin-right: px(48) !important;
}

//=============================
// ALIGNS
//=============================
.--ai-end {
	align-items: end;
}

.--ai-center {
	align-items: center;
}

//=============================
// BOX BORDER ( border and padding)
//=============================
.--boxBorder {
	padding: px(16);
	border: 1px solid $light-neutral-300;
}
