@import '../base/variables';

//=======================================
// lay al 100%
//=======================================
[class^='lay'],
[class*=' lay'] {
	width: 100%;
	padding-right: px(10);
	padding-left: px(10);
	margin-right: auto;
	margin-left: auto;
}

@media ($media-s) {
	[class^='lay'],
	[class*=' lay'] {
		padding-right: 0;
		padding-left: 0;
	}
}

@media ($media-m) {
	[class^='lay'],
	[class*=' lay'] {
		padding-right: 0;
		padding-left: 0;
	}
}

@media ($media-l) {
	[class^='lay'],
	[class*=' lay'] {
		padding-right: 0;
		padding-left: 0;
	}
}

//=======================================
// lay al 100% sin paddings ni margins
//=======================================
.lay-full-width {
	padding-left: 0;
	padding-right: 0;
	max-width: 100%;
}

//=======================================
// lay CON ASIDE
//=======================================
.lay-sidebar {
	display: grid;
	margin-top: px(32);
	padding: 0 px(16);

	@media screen and ($media-m) {
		grid-template-columns: 232px 1fr;
		padding: 0 px(16) 0 0;
		grid-column-gap: px(24);
	}

	@media screen and ($media-l) {
		grid-template-columns: 270px 1fr;
		padding-left: 40px;
		padding-right: 20px;
		grid-column-gap: 80px;
	}

	.sidebar__aside {
		transition: transform 0.5s ease-in-out;

		@media screen and (max-width: px(767)) {
			position: absolute;
			top: px(68);
			right: 0;
			width: px(320);
			z-index: 9000;
		}
	}
}

.container-streched {
	min-height: 100vh;
	position: relative;

	@media ($media-m) {
		max-width: 624px;
	}
}

.list {
	margin-top: px(16);

	li {
		position: relative;
		padding-left: px(32);
		margin-bottom: px(16);

		&:before {
			position: absolute;
			content: '•';
			color: #5a5a5a;
			font-size: px(32);
			left: px(8);
			bottom: 0;
		}
	}
}

.com-paragraph {
	.mod-callback-list & {
		font-size: px(14);
		line-height: px(16);
		color: #5a5a5a;
	}
}

.box-loading {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
	.com-spinner {
		top: 40%;
	}
}

//=======================================
// CONTAINER GRILL
//=======================================
.com-container {
	display: grid;
	row-gap: px(16);
	column-gap: px(16);
	grid-template-columns: 1fr;

	@media screen and (min-width: px(1023)) {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		column-gap: $spacing-sm;
	}

	&.--no-wrap {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
	}
	&.--no-row-gap {
		row-gap: 0 !important;
	}
	&.--no-column-gap {
		column-gap: 0 !important;
	}
}
