@import "mixins";


@include font-face("sueca", suecaslab-medium, normal);
@include font-face("sueca", suecaslab-bold, bold);
@include font-face("Icons", lana-icons, normal);
@include font-face("Logos", logos, normal);

//=============================
// ICONOS
//=============================

[class^="icon-"],
[class*=" icon-"] {
  font-family: "Icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: px(24);
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-add:before {
content: "\e900";
}
.icon-add-filled:before {
content: "\e901";
}
.icon-alert:before {
content: "\e902";
}
.icon-alert-filled:before {
content: "\e903";
}
.icon-android:before {
content: "\e904";
}
.icon-arrow-down:before {
  content: $icon-arrow-down;
}
.icon-arrow-left:before {
  content: $icon-arrow-left;
}
.icon-arrow-right:before {
  content: $icon-arrow-right;
}
.icon-arrow-up:before {
  content: $icon-arrow-up;
}
.icon-bullet:before {
  content: $icon-bullet;
}
.icon-bullet-outline:before {
  content: $icon-bullet-outline;
}
.icon-bullet-xs:before {
  content: $icon-bullet-xs;
}
.icon-calendar:before {
content: "\e90c";
}
.icon-calendar-filled:before {
content: "\e90d";
}
.icon-car:before {
content: "\e90e";
}
.icon-check-mark:before {
content: "\e90f";
}
.icon-checkbox-blank:before {
content: "\e910";
}
.icon-checkbox-filled:before {
content: "\e911";
}
.icon-checked:before {
content: "\e912";
}
.icon-clear-night:before {
  content: '\e913';
}
.icon-clock:before {
  content: '\e914';
}
.icon-close:before {
  content: $icon-close;
}
.icon-cloudy:before {
  content: '\e916';
}
.icon-club:before {
  content: '\e917';
}
.icon-club-filled:before {
content: "\e918";
}
.icon-comment:before {
  content: '\e919';
}
.icon-copy:before {
content: "\e91a";
}
.icon-coupons:before {
content: "\e91b";
}
.icon-deco-home:before {
content: "\e91c";
}
.icon-delete:before {
content: "\e91d";
}
.icon-delete-filled:before {
content: "\e91e";
}
.icon-download:before {
content: "\e91f";
}
.icon-download-file:before {
content: "\e920";
}
.icon-edit:before {
content: "\e921";
}
.icon-edit-filled:before {
content: "\e922";
}
.icon-email:before {
  content: $icon-email;
}
.icon-email-filled:before {
content: "\e924";
}
.icon-email-open:before {
content: "\e925";
}
.icon-email-open-filled:before {
content: "\e926";
}
.icon-emoji:before {
content: "\e927";
}
.icon-entertainment:before {
content: "\e928";
}
.icon-error-warning:before {
content: "\e929";
}
.icon-error-warning-filled:before {
content: "\e92a";
}
.icon-eye:before {
content: "\e92b";
}
.icon-eye-filled:before {
content: "\e92c";
}
.icon-eye-off:before {
content: "\e92d";
}
.icon-eye-off-filled:before {
content: "\e92e";
}
.icon-facebook:before {
content: "\e92f";
}
.icon-facebook-filled:before {
  content: $icon-facebook-filled;
}
.icon-fashion:before {
content: "\e931";
}
.icon-fast:before {
content: "\e932";
}
.icon-filter:before {
  content: '\e933';
}
.icon-flag:before {
content: "\e934";
}
.icon-flag-filled:before {
content: "\e935";
}
.icon-forbid:before {
content: "\e936";
}
.icon-go:before {
content: "\e937";
}
.icon-group:before {
  content: '\e938';
}
.icon-headset:before {
content: "\e939";
}
.icon-headset-filled:before {
content: "\e93a";
}
.icon-healthy:before {
content: "\e93b";
}
.icon-home:before {
  content: '\e93c';
}
.icon-home-filled:before {
content: "\e93d";
}
.icon-horizontal-line:before {
  content: '\e93e';
}
.icon-info:before {
  content: '\e93f';
}
.icon-info-filled:before {
content: "\e940";
}
.icon-instagram:before {
  content: '\e941';
}
.icon-instagram-filled:before {
  content: '\e942';
}
.icon-ios:before {
content: "\e943";
}
.icon-like:before {
  content: '\e944';
}
.icon-like-filled:before {
  content: '\e945';
}
.icon-linkedin:before {
content: "\e946";
}
.icon-linkedin-filled:before {
  content: '\e947';
}
.icon-lock:before {
content: "\e948";
}
.icon-lock-filled:before {
content: "\e949";
}
.icon-map:before {
content: "\e94a";
}
.icon-map-filled:before {
content: "\e94b";
}
.icon-medium:before {
content: "\e94c";
}
.icon-medium-filled:before {
  content: '\e94d';
}
.icon-menu:before {
  content: '\e94e';
}
.icon-more:before {
  content: '\e94f';
}
.icon-no-wifi:before {
content: "\e950";
}
.icon-order:before {
  content: '\e951';
}
.icon-pause:before {
  content: '\e952';
}
.icon-pinterest:before {
content: "\e953";
}
.icon-pinterest-filled:before {
  content: '\e954';
}
.icon-play:before {
  content: '\e955';
}
.icon-play-filled:before {
  content: '\e956';
}
.icon-plus:before {
content: "\e957";
}
.icon-qr:before {
content: "\e958";
}
.icon-radio-blank:before {
  content: '\e959';
}
.icon-radio-filled:before {
  content: '\e95a';
}
.icon-rain:before {
  content: '\e95b';
}
.icon-rainy-cloudy:before {
  content: '\e95c';
}
.icon-reply:before {
content: "\e95d";
}
.icon-reply-filled:before {
content: "\e95e";
}
.icon-restaurant:before {
content: "\e95f";
}
.icon-rss:before {
  content: '\e960';
}
.icon-search:before {
  content: '\e961';
}
.icon-sections:before {
  content: '\e962';
}
.icon-sections-filled:before {
  content: '\e963';
}
.icon-settings:before {
  content: '\e964';
}
.icon-settings-filled:before {
  content: '\e965';
}
.icon-share:before {
content: "\e966";
}
.icon-share-android:before {
content: "\e967";
}
.icon-shop:before {
content: "\e968";
}
.icon-shop-online:before {
content: "\e969";
}
.icon-slow:before {
content: "\e96a";
}
.icon-snapchat:before {
content: "\e96b";
}
.icon-snapchat-filled:before {
  content: '\e96c';
}
.icon-snow:before {
  content: '\e96d';
}
.icon-snow-cloudy:before {
  content: '\e96e';
}
.icon-soundcloud:before {
content: "\e96f";
}
.icon-soundcloud-filled:before {
  content: '\e970';
}
.icon-spotify:before {
content: "\e971";
}
.icon-spotify-filled:before {
  content: '\e972';
}
.icon-star:before {
content: "\e973";
}
.icon-star-filled:before {
content: "\e974";
}
.icon-storm:before {
  content: '\e975';
}
.icon-storm-cloudy:before {
  content: '\e976';
}
.icon-sun:before {
  content: '\e977';
}
.icon-sun-cloudy:before {
  content: '\e978';
}
.icon-supermarket:before {
content: "\e979";
}
.icon-tiktok:before {
  content: '\e97a';
}
.icon-timer:before {
  content: '\e97b';
}
.icon-trip:before {
content: "\e97c";
}
.icon-tumblr:before {
  content: '\e97d';
}
.icon-twitch:before {
  content: '\e97e';
}
.icon-twitter:before {
content: "\e97f";
}
.icon-twitter-filled:before {
  content: $icon-twitter-filled;
}
.icon-unlock:before {
  content: '\e981';
}
.icon-unlock-filled:before {
  content: '\e982';
}
.icon-user:before {
  content: '\e983';
}
.icon-vertical-line:before {
  content: '\e984';
}
.icon-whatsapp:before {
content: "\e985";
}
.icon-whatsapp-filled:before {
  content: $icon-whatsapp-filled;
}
.icon-windy:before {
  content: '\e987';
}
.icon-youtube:before {
content: "\e988";
}
.icon-youtube-filled:before {
  content: '\e989';
}
.icon-zoom:before {
  content: $icon-zoom;
}


//=============================
// LOGOS
//=============================

$logo-brando: '\e800';
$logo-ohlala: '\e80d';
$logo-lugares: '\e80b';
$logo-living: '\e807';
$logo-hola: '\e803';
$logo-jardin: '\e805';
$logo-rolling: '\e80e';
$logo-bbc: '\e900';
$logo-propiedades: '\e901';
$logo-negocios: '\e80c';
$logo-ln-placeholder: '\e90a';
$logo-ln-mas: '\e909';
$logo-ln: '\e808';
$logo-la-nacion: '\e806';
$logo-hola-argentina: '\e804';
$logo-club-lanacion: '\e802';
$logo-club: '\e801';

//[class^='logo-'],
[class*='logo-'] {
  font-family: 'Logos';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: px(17);
  display: inline-block;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-brando:before {
  content: $logo-brando;
}

.logo-club:before {
  content: $logo-club;
}

.logo-club-lanacion:before {
  content: $logo-club-lanacion;
}

.logo-hola:before {
  content: $logo-hola;
}

.logo-hola-argentina:before {
  content: $logo-hola-argentina;
}

.logo-jardin:before {
  content: $logo-jardin;
}

.logo-la-nacion:before {
  content: $logo-la-nacion;
  color: $light-blue-600;
}

.logo-living:before {
  content: $logo-living;
}

.logo-ln:before {
  content: $logo-ln;
}

.logo-ln-mas:before {
  content: $logo-ln-mas;
}

.logo-ln-placeholder:before {
  content: $logo-ln-placeholder;
}

.logo-lugares:before {
  content: $logo-lugares;
}

.logo-negocios:before {
  content: $logo-negocios;
}

.logo-ohlala:before {
  content: $logo-ohlala;
}

.logo-rolling:before,
.logo-rolling-stone:before {
  content: $logo-rolling;
}

.logo-bbc:before {
  content: $logo-bbc;
}

.logo-propiedades:before {
  content: $logo-propiedades;
}


form{
  margin-bottom: $spacing-lg;
  fieldset{
      legend{
          font-family: Arial;
          font-style: normal;
          font-weight: bold;
          font-size: px(19);
      }
  }
}