

//=======================================
// Pixel
//=======================================

$em: 0.0625em; //1px
$rem: 0.0625rem; //1px

@function px($base) {
    $result: $rem * $base;
    @return $result;
}


//=======================================
// Columnas
//=======================================

$cant-col: 12; //Cantidad de columnas
$col-width: 100 / $cant-col; //Ancho de columnas
$scroll-width: px(17);
$letter-spacing: -0.4px; //espacio de interletrado


//=======================================
// Fonts
//=======================================

$font-georgia: 'Georgia', 'serif';
$font-sueca: 'sueca';
$font-roboto: 'Roboto';
$font-arial: 'Arial';


//=======================================
// Media Queries
//=======================================

$media-s:  'min-width : 22em'; // 360px
$media-m:  'min-width: 48em'; // 768px
$media-l:  'min-width: 64em'; // 1024px


//=======================================
// Calles entre columnas
//=======================================

$gap-l:  0 px(20);
$gap-m:  0 px(15);
$gap-xs: 0 px(10);


//=======================================
// Aspect ratio
//=======================================

$picture:         calc((2 / 3)      * 100%);
$square:          calc((3 / 4)      * 100%);
$video:           calc((9 / 16)     * 100%);
$cinema:          calc((9 / 21)     * 100%);
$vertical-square: calc((13 / 12.19) * 100%);
$vertical-video:  calc((13 / 8.19)  * 100%);


//=======================================
// Espaciados
//=======================================

$spacing: $rem * 8;
$spacing-2xs: $spacing / 2; //4px
$spacing-xs: $spacing * 1; //8px
$spacing-sm: $spacing * 2; //16px
$spacing-md: $spacing * 3; //24px
$spacing-lg: $spacing * 4; //32px
$spacing-xl: $spacing * 5; //40px
$spacing-2xl: $spacing * 8; //64px
$spacing-3xl: $spacing * 10; //80px


//=======================================
// Iconos
//=======================================

$icon-arrow-down: '\e905';
$icon-arrow-left: '\e906';
$icon-arrow-right: '\e907';
$icon-arrow-up: '\e908';
$icon-bullet: '\e909';
$icon-bullet-outline: '\e90a';
$icon-bullet-xs: '\e90b';
$icon-close: '\e915';
$icon-email: '\e923';
$icon-facebook-filled: '\e930';
$icon-twitter-filled: '\e980';
$icon-whatsapp-filled: '\e986';
$icon-zoom: '\e98a';


//=======================================
// Colores
//=======================================

$blue-600: #006998;

$light-blue-100: #e8f5ff;
$light-blue-200: #bee4ff;
$light-blue-300: #41b1ff;
$light-blue-400: #008dff;
$light-blue-500: #0074c4;
$light-blue-600: #006998;
$light-blue-700: #00547a;
$light-blue-800: #003f5b;
$light-blue-900: #002a3d;

$neutral-white: #fff;
$light-neutral-50: #fefefe;
$light-neutral-100: #f7f7f4;
$light-neutral-200: #f2f2f2;
$light-neutral-300: #e4e4e4;
$light-neutral-400: #ccc;
$light-neutral-500: #919191;
$light-neutral-600: #5a5a5a;
$light-neutral-700: #333;
$light-neutral-800: #272727;
$light-neutral-900: #1c1c1f;
$neutral-black: #000;

$yellow-100: #ffffe5;
$yellow-200: #ffffb8;
$yellow-300: #ffff86;
$yellow-400: #ffff76;
$yellow-500: #ffff24;
$yellow-600: #f9f900;
$yellow-700: #cccc0b;
$yellow-800: #999900;
$yellow-900: #555500;

$orange-100: #fff5df;
$orange-200: #ffe8c0;
$orange-300: #ffc968;
$orange-400: #fcb73c;
$orange-500: #ef9b30;
$orange-600: #d46418;
$orange-700: #c6480c;
$orange-800: #893006;
$orange-900: #4c1800;

$red-100: #ffeceb;
$red-200: #ffc3be;
$red-300: #fa837a;
$red-400: #f44336;
$red-500: #e2342d;
$red-600: #c61c1e;
$red-700: #b40d15;
$red-800: #6c0801;
$red-900: #4a0500;

$pink-100: #f7d2db;
$pink-200: #f7d2db;
$pink-300: #f7d2db;
$pink-400: #f7d2db;
$pink-500: #e71f64;
$pink-600: #be1a52;
$pink-700: #981542;
$pink-800: #731032;
$pink-900: #731032;

$violet-100: #eaebff;
$violet-200: #c5c6ff;
$violet-300: #7b7eff;
$violet-400: #5659ff;
$violet-500: #1417cf;
$violet-600: #0003a6;
$violet-700: #00027d;
$violet-800: #000254;
$violet-900: #00043a;

$teal-100: #ecffff;
$teal-200: #c1ffff;
$teal-300: #80f9f9;
$teal-400: #3ff3f3;
$teal-500: #28d1d1;
$teal-600: #15afaf;
$teal-700: #0c8485;
$teal-800: #006b6b;
$teal-900: #004949;

$green-100: #f3fbf0;
$green-200: #e1f6d7;
$green-300: #c0e8ba;
$green-400: #98da93;
$green-500: #71cd6d;
$green-600: #49bf46;
$green-700: #22b120;
$green-800: #22b120;
$green-900: #036002;


//=======================================
// Colores Dark Mode
//=======================================

$dark-blue-100: #d5ffff;
$dark-blue-200: #d5ffff;
$dark-blue-300: #b7e9ff;
$dark-blue-400: #70d3ff;
$dark-blue-500: #22b8ff;

$dark-neutral-50: #1c1c1f;
$dark-neutral-100: #272727;
$dark-neutral-200: #333;
$dark-neutral-300: #5a5a5a;
$dark-neutral-400: #919191;
$dark-neutral-500: #adadad;
$dark-neutral-600: #ccc;
$dark-neutral-700: #e4e4e4;
$dark-neutral-800: #f2f2f2;
$dark-neutral-900: #fff;


//=======================================
// Box Shadows
//=======================================

$shadow-down-2xs: 0px 2px 4px rgba(0, 0, 0, 0.16);
$shadow-down-xs: 0px 4px 8px rgba(0, 0, 0, 0.08);
$shadow-down-sm: 0px 8px 16px rgba(0, 0, 0, 0.06);
$shadow-down-md: 0px 12px 24px rgba(0, 0, 0, 0.04);
$shadow-down-lg: 0px 16px 32px rgba(0, 0, 0, 0.03);

$shadow-up-2xs: 0px -2px 4px rgba(0, 0, 0, 0.16);
$shadow-up-xs: 0px -4px 8px rgba(0, 0, 0, 0.08);
$shadow-up-sm: 0px -8px 16px rgba(0, 0, 0, 0.06);
$shadow-up-md: 0px -12px 24px rgba(0, 0, 0, 0.04);
$shadow-up-lg: 0px -16px 32px rgba(0, 0, 0, 0.03);


