

//=======================================
// Pixel
//=======================================

$em: 0.0625em; //1px
$rem: 0.0625rem; //1px

@function px($base) {
    $result: $rem * $base;
    @return $result;
}

//=======================================
// Columnas
//=======================================

$cant-col: 12; //Cantidad de columnas
$col-width: 100 / $cant-col; //Ancho de columnas
$scroll-width: px(17);

//=======================================
// Fonts
//=======================================

$font-default: 'Montserrat', sans-serif;

//=======================================
// Media Queries
//=======================================

$media-s:  'min-width : 22em'; // 360px
$media-m:  'min-width: 48em'; // 768px
$media-l:  'min-width: 64em'; // 1024px

//=======================================
// Calles entre columnas
//=======================================

$gap-l:  0 px(24);
$gap-m:  0 px(16);
$gap-xs: 0 px(8);

//=======================================
// Aspect ratio
//=======================================

$picture:         calc((2 / 3)      * 100%);
$square:          calc((3 / 4)      * 100%);
$video:           calc((9 / 16)     * 100%);
$cinema:          calc((9 / 21)     * 100%);
$vertical-square: calc((13 / 12.19) * 100%);
$vertical-video:  calc((13 / 8.19)  * 100%);

//=======================================
// Espaciados
//=======================================

$spacing: $rem * 8;
$spacing-2xs: $spacing / 2; //4px
$spacing-xs: $spacing * 1; //8px
$spacing-sm: $spacing * 2; //16px
$spacing-md: $spacing * 3; //24px
$spacing-lg: $spacing * 4; //32px
$spacing-xl: $spacing * 5; //40px
$spacing-2xl: $spacing * 8; //64px
$spacing-3xl: $spacing * 10; //80px

//=======================================
// Colores
//=======================================
$black: #000;
$white: #fff;

$grey-100: #C5C5C5;
$grey-200: #BDBDBD;
$grey-300: #7D7D7D;
$grey-400: #545454;
$grey-500: #333333;

$red-100: #ff0000;
$red-500: #9d251f;
$red-700: #631719;

$green-500: #2CB742;


//=======================================
// Box Shadows
//=======================================

$shadow-down-2xs: 0px 2px 4px rgba(0, 0, 0, 0.16);
$shadow-down-xs: 0px 4px 8px rgba(0, 0, 0, 0.08);
$shadow-down-sm: 0px 8px 16px rgba(0, 0, 0, 0.06);
$shadow-down-md: 0px 12px 24px rgba(0, 0, 0, 0.04);
$shadow-down-lg: 0px 16px 32px rgba(0, 0, 0, 0.03);

$shadow-up-2xs: 0px -2px 4px rgba(0, 0, 0, 0.16);
$shadow-up-xs: 0px -4px 8px rgba(0, 0, 0, 0.08);
$shadow-up-sm: 0px -8px 16px rgba(0, 0, 0, 0.06);
$shadow-up-md: 0px -12px 24px rgba(0, 0, 0, 0.04);
$shadow-up-lg: 0px -16px 32px rgba(0, 0, 0, 0.03);


