.banner {
    margin: $spacing-3xl 0;

    img {
        width:100%;
    }

    &.--pages {
        margin-top:0;
    }

    &.--cart {
        margin-top:0;
        margin-bottom:$spacing-xl;
    }

    &.--shop {
        img {
            width:100%;
        }
    }
}