.banner {
    margin: $spacing-3xl 0;

    &.--pages {
        margin-top:0;
        img {
            width:100%;
        }
    }

    &.--shop {
        img {
            width:100%;
        }
    }
}