@import '../base/variables';

.sidebar-menu {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: $black;
    overflow-x: hidden; 
    transition: 0.5s; 

    .closebtn {
        position: absolute;
        top: 0;
        left:0;
        font-size: px(16);
        margin: $spacing-sm;
    }


    .menu {
        padding:$spacing-2xl $spacing-md;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: right;

        .item {
            font-size:px(18);
            font-weight: 400;
            display: block;
            padding-bottom: $spacing-sm;

            &.--child {
                padding-bottom: $spacing-2xs;
            }

            &.--active {
                position:relative;
                &:after {
                    position: absolute;
                    content: " ";
                    width: px(140);
                    height:px(1);
                    right: 0;
                    bottom: px(4);
                    background-color: $white;
                }
            }

        }

        .submenu {
            .item {
                font-size:px(15);
                font-weight: 200;
                display: block;
                padding-bottom: $spacing-2xs;
            }
        }
    }

    .footer-actions {
        width:50%;
        padding:$spacing-xl 0;
        margin:auto;
        text-align: center;
        display: flex;
        justify-content: space-evenly;

    }
}