.text-container {
    text-align: center;
    margin-bottom: $spacing-xl;

    .home & {
        margin-bottom: $spacing-3xl;

        p {
            max-width: 80%;
        }
    }

    p {
        max-width: 100%;
        margin:auto;
        margin-bottom:$spacing-sm;        
    }
}