.text-container {
    text-align: center;
    margin-bottom: $spacing-3xl;

    .category-grids & {
        margin-bottom: $spacing-xl;
    }

    .cart & {
        margin-bottom: $spacing-xl;
    }

    p {
        max-width: 100%;
        margin:auto;
        margin-bottom:$spacing-sm;        
    }
}